force-app/main/default/flows/North_Star_POV_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>New_POV_First_Decision</name>
        <label>New POV?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_North_Star_POV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing POV</defaultConnectorLabel>
        <rules>
            <name>New_POV1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>North_Star_POV_Account_Info</targetReference>
            </connector>
            <label>New POV</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>North Star POV Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>North Star POV Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_North_Star_POV</name>
        <label>Create North Star POV</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>POV_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Account_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>Business_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_State_1__c</field>
            <value>
                <elementReference>Future_State_Vision_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_State_2__c</field>
            <value>
                <elementReference>Future_State_Vision_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_State_3__c</field>
            <value>
                <elementReference>Future_State_Vision_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Miro_Link__c</field>
            <value>
                <elementReference>Link_to_Miro_Board.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obstacles_1__c</field>
            <value>
                <elementReference>Obstacles_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obstacles_2__c</field>
            <value>
                <elementReference>Obstacles_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obstacles_3__c</field>
            <value>
                <elementReference>Obstacles_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POV_Stage__c</field>
            <value>
                <stringValue>Presentation Design</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_1__c</field>
            <value>
                <elementReference>Priority1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_2__c</field>
            <value>
                <elementReference>Priority2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_3__c</field>
            <value>
                <elementReference>Priority3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Themes__c</field>
            <value>
                <elementReference>Themes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_Now__c</field>
            <value>
                <elementReference>Why_Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_Salesforce__c</field>
            <value>
                <elementReference>Why_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <object>North_Star_POV__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_North_Star_POV</name>
        <label>Get North Star POV</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_North_Star_POV_Strategic_Priority_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>North_Star_POV__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_North_Star_POV</name>
        <label>Update North Star POV</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Succes_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Future_State_1__c</field>
            <value>
                <elementReference>Existing_Future_State_Vision_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_State_2__c</field>
            <value>
                <elementReference>Existing_Future_State_Vision_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_State_3__c</field>
            <value>
                <elementReference>Existing_Future_State_Vision_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obstacles_1__c</field>
            <value>
                <elementReference>Existing_Obstacles_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obstacles_2__c</field>
            <value>
                <elementReference>Existing_Obstacles_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obstacles_3__c</field>
            <value>
                <elementReference>Existing_Obstacles_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POV_Stage__c</field>
            <value>
                <stringValue>Presentation Design</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_1__c</field>
            <value>
                <elementReference>Existing_Priority1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_2__c</field>
            <value>
                <elementReference>Existing_Priority2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_3__c</field>
            <value>
                <elementReference>Existing_Priority3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Themes__c</field>
            <value>
                <elementReference>Existing_Themes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_Now__c</field>
            <value>
                <elementReference>Existing_Why_Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_Salesforce__c</field>
            <value>
                <elementReference>Existing_Why_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <object>North_Star_POV__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Existing_North_Star_POV_Other</name>
        <label>Existing North Star POV - Other</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_North_Star_POV</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_TextLabel4</name>
            <fieldText>&lt;p&gt;Now let&apos;s enter some information about your overall POV&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIP: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Why_Salesforce</name>
            <defaultValue>
                <stringValue>{!Get_North_Star_POV.Why_Salesforce__c}</stringValue>
            </defaultValue>
            <fieldText>Why Salesforce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Existing_Why_Now</name>
            <defaultValue>
                <stringValue>{!Get_North_Star_POV.Why_Now__c}</stringValue>
            </defaultValue>
            <fieldText>Why Now</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayLabel5</name>
            <fieldText>&lt;p&gt;Are there any other themes that you want to ground the narrative on?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Themes</name>
            <defaultValue>
                <stringValue>{!Get_North_Star_POV.Themes__c}</stringValue>
            </defaultValue>
            <fieldText>Themes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_North_Star_POV_Strategic_Priority_1</name>
        <label>Existing North Star POV - Strategic Priority 1</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_North_Star_POV_Strategic_Priority_2</targetReference>
        </connector>
        <fields>
            <name>Existing_North_Star_POV_Strategic_Priority_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_North_Star_POV_Strategic_Priority_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_TextLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Strategic Priority 1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Let&apos;s enter information from your Miro board&apos;s sticky notes about your first strategic priority.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;TIP: &lt;/strong&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Existing_Priority1</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Priority_1__c}</stringValue>
                    </defaultValue>
                    <fieldText>Strategic Priority 1</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Existing_Obstacles_1</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Obstacles_1__c}</stringValue>
                    </defaultValue>
                    <fieldText>Obstacles 1</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Existing_Future_State_Vision_1</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Future_State_1__c}</stringValue>
                    </defaultValue>
                    <fieldText>Future State Vision 1</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Step 2 of 4</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_North_Star_POV_Strategic_Priority_2</name>
        <label>Existing North Star POV - Strategic Priority 2</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_North_Star_POV_Strategic_Priority_3</targetReference>
        </connector>
        <fields>
            <name>Existing_North_Star_POV_Strategic_Priority_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_North_Star_POV_Strategic_Priority_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_TextLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Strategic Priority 2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Let&apos;s enter information from your Miro board&apos;s sticky notes about your second strategic priority.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIP: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Existing_Priority2</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Priority_2__c}</stringValue>
                    </defaultValue>
                    <fieldText>Strategic Priority 2</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Existing_Obstacles_2</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Obstacles_2__c}</stringValue>
                    </defaultValue>
                    <fieldText>Obstacles 2</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Existing_Future_State_Vision_2</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Future_State_2__c}</stringValue>
                    </defaultValue>
                    <fieldText>Future State Vision 2</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Step 3 of 4</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_North_Star_POV_Strategic_Priority_3</name>
        <label>Existing North Star POV - Strategic Priority 3</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_North_Star_POV_Other</targetReference>
        </connector>
        <fields>
            <name>Existing_North_Star_POV_Strategic_Priority_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_North_Star_POV_Strategic_Priority_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_TextLabel3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Strategic Priority 3&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Let&apos;s enter information from your Miro board&apos;s sticky notes about your third strategic priority.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIP: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Existing_Priority3</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Priority_3__c}</stringValue>
                    </defaultValue>
                    <fieldText>Strategic Priority 3</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Existing_Obstacles_3</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Obstacles_3__c}</stringValue>
                    </defaultValue>
                    <fieldText>Obstacles 3</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Existing_Future_State_Vision_3</name>
                    <defaultValue>
                        <stringValue>{!Get_North_Star_POV.Future_State_3__c}</stringValue>
                    </defaultValue>
                    <fieldText>Future State Vision 3</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Step 4 of 4</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IntroductionScreen</name>
        <label>Introduction Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_POV_First_Decision</targetReference>
        </connector>
        <fields>
            <name>Introduction_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;I will guide you through to create your narrative using a Generative AI Prompt!  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;First, let&apos;s collect some information about the account for which you&apos;re creating the narrative.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;NOTE: Generative AI can produce inaccurate or harmful responses. Review the output for accuracy and safety. You assume responsibility for how the outcomes of the North Star POV app are applied to your organization.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GenerativeOutputImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GenerativeOutputImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Got It! Let&apos;s Begin.</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>North_Star_POV_Account_Info</name>
        <label>North Star POV - Account Info</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>North_Star_POV_Strategic_Priority_1</targetReference>
        </connector>
        <fields>
            <name>TextLabel0</name>
            <fieldText>&lt;p&gt;First, let&apos;s tell Einstein about the company you&apos;re working with. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Name</name>
            <dataType>String</dataType>
            <fieldText>Name of the business you&apos;re generating a North Star POV for</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>North_Star_POV__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Org62 Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Link_to_Miro_Board</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Link to the Miro Board used in your North Star POV Workshop</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue to Step 2 of 5</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>North_Star_POV_Other</name>
        <label>North Star POV - Other</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_North_Star_POV</targetReference>
        </connector>
        <fields>
            <name>TextLabel4</name>
            <fieldText>&lt;p&gt;Now let&apos;s enter some information about your overall POV&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIP: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Why_Salesforce</name>
            <fieldText>Why Salesforce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_Now</name>
            <fieldText>Why Now</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayLabel5</name>
            <fieldText>&lt;p&gt;Are there any other themes that you want to ground the narrative on?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Themes</name>
            <fieldText>Themes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>North_Star_POV_Strategic_Priority_1</name>
        <label>North Star POV - Strategic Priority 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>North_Star_POV_Strategic_Priority_2</targetReference>
        </connector>
        <fields>
            <name>North_Star_POV_Strategic_Priority_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>North_Star_POV_Strategic_Priority_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Strategic Priority 1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Let&apos;s enter information from your Miro board&apos;s sticky notes about your first strategic priority.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;TIP: &lt;/strong&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Priority1</name>
                    <fieldText>Strategic Priority 1</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Obstacles_1</name>
                    <fieldText>Obstacles 1</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Future_State_Vision_1</name>
                    <fieldText>Future State Vision 1</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Step 3 of 5</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>North_Star_POV_Strategic_Priority_2</name>
        <label>North Star POV - Strategic Priority 2</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>North_Star_POV_Strategic_Priority_3</targetReference>
        </connector>
        <fields>
            <name>North_Star_POV_Strategic_Priority_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>North_Star_POV_Strategic_Priority_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Strategic Priority 2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Let&apos;s enter information from your Miro board&apos;s sticky notes about your second strategic priority.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIP: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Priority2</name>
                    <fieldText>Strategic Priority 2</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Obstacles_2</name>
                    <fieldText>Obstacles 2</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Future_State_Vision_2</name>
                    <fieldText>Future State Vision 2</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Step 4 of 5</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>North_Star_POV_Strategic_Priority_3</name>
        <label>North Star POV - Strategic Priority 3</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>North_Star_POV_Other</targetReference>
        </connector>
        <fields>
            <name>North_Star_POV_Strategic_Priority_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>North_Star_POV_Strategic_Priority_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextLabel3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Strategic Priority 3&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Let&apos;s enter information from your Miro board&apos;s sticky notes about your third strategic priority.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIP: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can easily input this information by selecting all of the sticky notes in each section on your Miro board at once, selecting &quot;Copy&quot;, and then pasting them into the respective fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Priority3</name>
                    <fieldText>Strategic Priority 3</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Obstacles_3</name>
                    <fieldText>Obstacles 3</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Future_State_Vision_3</name>
                    <fieldText>Future State Vision 3</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Step 5 of 5</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Succes_Message</name>
        <label>Success Message</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Congratulations! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You&apos;ve successfully given EinsteinGPT all that it needs to generate a North Star POV narrative! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;To generate the narrative, navigate to the &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;EinsteinGPT Response&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; section above.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IntroductionScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POV_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
